*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100vh;
    /* background-color: lightblue; */
    margin: 0 auto;
}
.display-container .title{
    text-align: center;
    margin-bottom:40px;
}
.login-area{
    width: 100%;
    height: 35vh; 
    box-shadow: 5px 5px 10px #b3b1b1;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 20px;
    
}
.login-area .inputText{
    width: 100%;
    height: 40px;
    margin:3px 0 8px 0;
    outline: none;
    border: 1px solid rgba(158, 156, 156,.8);
}
.login-area .inputText:focus{
    border: 1px solid rgba(16, 170, 16,.6);
}
.login-area .inputText:focus::placeholder{
    color:#a3a0a0;
}
.login-area ::placeholder{
    padding-left: 3px;
}

.login-area .submit-btn{
    padding: 4px 10px;
    border: none;
    background-color: #0f770f;
    color: #ffffff;
    border-radius: 3px;
    margin-top: 10px;
}
.login-area .submit-btn:hover{
    background-color: rgba(9, 71, 9, 0.9);
    transition: background-color .3s ease-in-out;

}

#transaction{
    display: none;
}
#transaction .deposit{
    background-color: rgb(67, 186, 226);
}
#transaction .withdraw{
    background-color: rgb(84, 219, 113);
}
#transaction .balance{
    background-color: rgb(97, 116, 224);
}
#transaction .seeTransaction{
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 3px;
}
#transaction .seeTransaction h2{
    text-align: center;
    color: #ffffff;
}
#transaction .seeTransaction h4{
    text-align: center;
}
.transaction-submit{
    height: 22vh;
     box-shadow: 3px 3px 6px #c0e6f1, 
                -3px -3px 6px #c0e6f1; 
    border-radius: 8px;
    margin-top: 80px;
    padding: 10px;
}
.transaction-submit button{
    padding: 4px 10px;
    border: none;
    color: #ffffff;
    border-radius: 3px;
    margin-top: 10px;
}
.transaction-submit .deposit-btn{
    background-color:rgb(67, 186, 226) ;
}
.transaction-submit .withdraw-btn{
    background-color: rgb(84, 219, 113);
}
